<header class="navbar navbar-custom" role="navigation">
  <div class="container">
    <div class="display-table pull-left" id="navbar-logo-container">
      <h4 class="navbar-brand-openlayer">&nbsp;Angular6 OpenLayers - How to Use OL package for OpenLayer to Show Earthquake Data</h4>

      <h6>This example parses a KML file and renders the features as a vector layer. The layer is given a style that renders earthquake locations with a custom lightning symbol and a size relative to their magnitude.</h6>

    </div>
    <!-- menu items that get hidden below 768px width -->
    <nav class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav pull-right">
        <li>
         
        </li>
        
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <!-- Content here -->
 
  <div class="row">
    <div class="col-12">
      <div id="map" class="map"></div>
    </div>
  </div>

</div>